body {
    margin: 0;
    padding: 0;
    font-family: 'Madimi One', sans-serif;
    overflow-y: auto;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    margin: 20px 0;
}

.nav-container {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: rgb(11, 106, 122);
}

.intro {
    background: linear-gradient(to right, rgb(243, 129, 129), rgb(86, 122, 175), rgb(119, 177, 119), rgb(226, 226, 132));
    color: #070707;
    padding: 20px;
    text-align: center;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.madimi-one-regular {
    font-family: 'Madimi One', sans-serif;
    font-size: 36px;
    font-weight: bold;
}
.card {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px; 
}

.grid-item {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}
.additional-content {
    
    height: 1000px; 
    background-color: #f0f0f0;
}
.mukta-semibold {
    font-family: "Mukta", sans-serif;
    font-weight: 600;
    font-style: normal;
  }