body {
    text-align: center;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1;
    -webkit-background-clip: text;
    background-clip: border-box;
    color: rgb(11, 106, 122);
    display: inline-block;
    margin: 0 10px;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    margin: 20px 0;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    font-weight: bold; /* Make the text bold */
}

nav a:hover {
    color: rgb(11, 106, 122);
}
